<div class="container-fluid">

  <div class="row justify-content-start text-left">
    <a style="font-size: small; margin-left: 2%; margin-bottom: 1%" routerLink="/main/card-lot">&larr; Вернуться к лотам</a>
  </div>

  <div class="row justify-content-center text-center" >
    <div class="container">
      <div>

        <!--<angular-image-slider *ngIf="images.length > 1" [images]="images"></angular-image-slider>-->
        <angular-image-slider [images]="images"></angular-image-slider>

      </div>
    </div>
  </div>

  <!-----------------------LIKE-DISLIKE-COMMENTS-BUDGES----------------------->

    <ng-template #likeListLink>
      <div style="cursor: pointer;" (click)="likePopover.hide()" (click)="showLikeDislikeModal(lot, constants.LIKE, constants.APP_LIMIT_LOT, constants.APP_OFFSET_LOT)">
        Показать всех
      </div>
    </ng-template>


    <div class="row justify-content-end" style="margin-top: 1%">
      <div class="col-1" >
         <span  style="margin-right: 30px; cursor: pointer; margin-top: 2%" matBadge="{{lot.countLikes}}" matBadgeOverlap="false" >
                <i data-toggle="tooltip" title="Нравится" triggers="mouseenter" [isOpen]="false" container="body" [outsideClick]="true" #likePopover="bs-popover" [popover]="likeListLink" (click)="addLikeOrDislikeLot(lot, constants.LIKE)" class="material-icons" id="likeIcon">thumb_up</i>
          </span>
      </div>


      <ng-template #dislikeListLink>
        <div style="cursor: pointer;" (click)="dislikePopover.hide()" (click)="showLikeDislikeModal(lot, constants.DISLIKE, constants.APP_LIMIT_LOT, constants.APP_OFFSET_LOT)" >
          Показать всех
        </div>
      </ng-template>

    <div class="col-1">
        <span  style="margin-right: 15px; cursor: pointer" matBadge="{{lot.countDisLikes}}" matBadgeOverlap="false" >
              <i
                data-toggle="tooltip"
                title="Не нравится"
                triggers="mouseenter"
                container="body"
                [isOpen]="false"
                [outsideClick]="true"
                #dislikePopover="bs-popover"
                [popover]="dislikeListLink"
                (click)="addLikeOrDislikeLot(lot, constants.DISLIKE)"
                class="material-icons"
                id="dislikeIcon">thumb_down</i>
        </span>
    </div>

    <div class="col-1">
      <span  style="margin-right: 15px; cursor: pointer" matBadge="{{lot.comments.length}}" matBadgeOverlap="false" >
            <i class="material-icons">speaker_notes</i>
          </span>
    </div>

  </div>

  <!-----------------------LIKE-DISLIKE-COMMENTS-BUDGES----------------------->

  <mat-tab-group (selectedTabChange)="onTabChanged($event)" [dynamicHeight]="true" style="padding: 15px" color="primary">

    <mat-tab label="Информация о лоте">

      <div class="container-fluid" style="padding: 15px;">

        <div class="row justify-content-start">

                <div class="col-12">

                  <div class="row justify-content-start text-left">
                    <div class="col-6">
                      <div class="row justify-content-start text-start" >
                        <h3>{{lot.lotTitle}} </h3>
                      </div>
                    </div>


                  </div>

                  <div class="row justify-content-start text-left" >
                    <h5> <small class="text-muted"><span  *ngFor="let cat of lot.categories" style="font-weight: bold "> {{cat.title}}</span></small></h5>
                  </div>
                  <div class="row justify-content-start text-left" >
                    <small class="text-muted">Статус: <span style="font-weight: bold ">{{lot.statusLot.statusTitle}}</span></small>
                  </div>
                  <div class="row justify-content-start text-left" >
                    <small class="text-muted">Тип: <span style="font-weight: bold ">{{lot.typeLot.typeTitle}}</span></small>
                  </div>
                  <div class="row justify-content-start text-left" style="margin-top: 2%">

                    <small class="text-muted">Дата начала торга: </small>

                  </div>
                  <div class="row justify-content-start text-left" >
                    <h6 class="text-muted"><span style="color: darkslategrey ">{{moment.unix(lot.dateStartTrade).format('DD-MM-YYYY HH:mm')}}</span></h6>
                  </div>


                  <div class="row justify-content-start text-left" style="margin-top:3%">
                    <small class="text-muted">Текущая ставка:</small>
                  </div>
                  <div class="row justify-content-start text-left" style="color: red">
                    <h1>{{lot.currentRate}} руб.</h1>
                  </div>

                  <div class="row justify-content-start text-left" style="margin-top:1%">
                    <small class="text-muted">Начальная ставка:</small>
                  </div>
                  <div class="row justify-content-start text-left" style="color: cadetblue ">
                    <h4>{{lot.startPrice}} руб.</h4>
                  </div>

                </div>


          </div>



      </div>

    </mat-tab>
    <mat-tab label="Описание">

      <div class="container-fluid" style="padding: 15px;">

        <div class="row justify-content-center">

          <div class="row justify-content-start text-left" style="margin-top:2%;margin-left: 1%">
            <h5>Описание:
              <small class="text-muted">{{lot.lotDescription}}</small>
            </h5>
          </div>

          <div id="map" style="height: 250px; width: 100%">

          </div>

        </div>

      </div>

    </mat-tab>
    <mat-tab label="Комментарии">

      <div class="container-fluid" style="padding: 15px;">

        <div class="row justify-content-start text-left" style="margin-top:2%">

          <div class="col-12">

            <div style="margin: 5px">

              <mat-card>
                <mat-card-header>

                  <img mat-card-avatar class="user-avatar" width="50" height="50" src="{{currentUser.userPhoto}}" />

                  <mat-card-title><a routerLink="." >{{currentUser.userLogin}}</a></mat-card-title>

                </mat-card-header>

                <mat-card-content>

                  <div class="row" style="width: 100%">

                    <mat-form-field class="col-11">
                      <textarea name="commentText" [(ngModel)]="commentText" [formControl]="commentFormControl" rows="7" matInput placeholder="Ваш комментарий..." ></textarea>
                      <mat-error *ngIf="commentFormControl.hasError('required')">
                        <strong>Введите комментарий</strong>
                      </mat-error>
                    </mat-form-field>

                    <div class="col-1">
                      <button (click)="addComment($event)" mat-fab>
                        <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
                      </button>
                    </div>

                  </div>

                </mat-card-content>


              </mat-card>
            </div>

            <h3>Комментарии</h3>
            <app-comment *ngFor="let comment of lot.comments" [comment]="comment" ></app-comment>
            <div  class="col-lg-8 col-md-8 col-sm-8 col-xs-12" >
              <button (click)="addCommentsOffset()" style="width: 100%" color="primary" mat-stroked-button>Еще</button>
            </div>
            <div *ngIf = "lot.comments?.length === 0">
              У данного лота еще нет комментариев
            </div>
          </div>



        </div>

      </div>

    </mat-tab>
  </mat-tab-group>

</div>
