<div class="container mat-elevation-z20">

  <mat-list>

    <mat-list-item>

      <div class="row">
        <div class="col-6">Чёрный список</div>
        <div class="col-6">
          <button mat-raised-button color="primary">Добавить в чёрный список</button>
        </div>
      </div>

    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon svgIcon="search-icon"></mat-icon>

      <div class="row">
        <div class="col">
          <input  placeholder="введите имя для поиска">
        </div>
      </div>


    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>

      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>


    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>

      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>


    </mat-list-item>
    <mat-divider></mat-divider>






  </mat-list>


</div>
