<div style="margin: 5px">

  <mat-card>
    <mat-card-header>

      <div  mat-card-avatar [style.backgroundImage]="comment?.userSender.userPhoto"></div>

      <h3 mat-card-title><a routerLink="." >{{comment?.userSender.userLogin}}</a></h3>
      <p mat-card-subtitle>Тип: {{comment?.commentType}}</p>
      <p mat-card-subtitle>Дата лота: {{comment?.commentSendDate}}</p>
      <p mat-card-subtitle>Статус: {{comment?.commentStatus}}</p>

    </mat-card-header>

    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore earum eveniet necessitatibus officiis omnis, perspiciatis placeat quaerat vel voluptatem. Aliquam molestiae nemo nostrum placeat quam saepe similique sint voluptatum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolore earum eveniet necessitatibus officiis omnis, perspiciatis placeat quaerat vel voluptatem. Aliquam molestiae nemo nostrum placeat quam saepe similique sint voluptatum!
    </mat-card-content>

  </mat-card>
</div>


