<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://icdn.lenta.ru/images/2015/12/15/11/20151215114126414/pic_a8bf01cef0eaf46338e791bf08db72c1.jpg">
    <mat-card-title>Фамилия Имя Отчество</mat-card-title>
    <mat-card-subtitle>UserName</mat-card-subtitle>
    <mat-card-actions>
      <button mat-button matBadge="1" matBadgeOverlap="false">Лайки</button>
      <button mat-button matBadge="2" matBadgeOverlap="false">Рейтинг</button>
      <button mat-button matBadge="3" matBadgeOverlap="false">Ещё что-то</button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Посты">
        <div style="width: 500px; height: auto; margin: 0 auto;">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Информация о пользователе">
        <div>
          <mat-list>
            <mat-list-item>
              <p>Фамилия: Test</p>
            </mat-list-item>
            <mat-list-item>
              <p>Имя: Test</p>
            </mat-list-item>
            <mat-list-item>
              <p>Отчество: Test</p>
            </mat-list-item>
            <mat-list-item>
              <p>Страна: Test</p>
            </mat-list-item>
            <mat-list-item>
              <p>Город: Test</p>
            </mat-list-item>
            <mat-list-item>
              <p>Ещё информация : ...</p>
            </mat-list-item>
            <mat-list-item>
              <p>Ещё информация : ...</p>
            </mat-list-item>
            <mat-list-item>
              <p>Ещё информация : ...</p>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
