.form-lot{
  padding: 20px;
}


.custom-class {
  right: 5px;
  position: fixed;
  bottom: 0px;
width: 60px;
height: 60px;
  z-index: 9999999999;
}

.open-button{
  position: fixed;
  z-index: 9999999999;
}

.material-icons.LikeMark {
  color: #216c15;
}

.material-icons.DislikeMark {
  color: #880004;
}
