<div class="container-fluid">

  <div class="container-fluid" style="padding: 15px;">

    <div class="row justify-content-center">

      <div class="col-12">

        <div class="row justify-content-center text-left">
          <div class="col-6">
            <div class="row justify-content-center text-center" >
              <h3>{{lot.lotTitle}} </h3>
            </div>
          </div>
        </div>

        <div>
          <img src="{{lot.lotImagePath[0].path}}"  style="width: 100%; height: 180px">
        </div>

        <div class="row justify-content-center text-left" >
          <h5> <small class="text-muted"><span  *ngFor="let cat of lot.categories" style="font-weight: bold "> {{cat.title}}</span></small></h5>
        </div>
        <div class="row justify-content-center text-left" >
          <small class="text-muted">Статус: <span style="font-weight: bold ">{{lot.statusLot.statusTitle}}</span></small>
        </div>
        <div class="row justify-content-start text-left" >
          <small class="text-muted">Тип: <span style="font-weight: bold ">{{lot.typeLot.typeTitle}}</span></small>
        </div>
        <div class="row justify-content-start text-left" style="margin-top: 2%">

          <small class="text-muted">Дата начала торга: </small>

        </div>
        <div class="row justify-content-start text-left" >
          <h6 class="text-muted"><span style="color: darkslategrey ">{{moment.unix(lot.dateStartTrade).format('DD-MM-YYYY HH:mm')}}</span></h6>
        </div>


        <div class="row justify-content-start text-left" style="margin-top:3%">
          <small class="text-muted">Текущая ставка:</small>
        </div>
        <div class="row justify-content-start text-left" style="color: red">
          <h1>{{lot.currentRate}} руб.</h1>
        </div>

        <div class="row justify-content-start text-left" style="margin-top:1%">
          <small class="text-muted">Начальная ставка:</small>
        </div>
        <div class="row justify-content-start text-left" style="color: cadetblue ">
          <h4>{{lot.startPrice}} руб.</h4>
        </div>

      </div>


    </div>

    <div class="row justify-content-start text-left" style="margin-top:2%">

      <div class="col-12">

        <div style="margin: 5px">

          <mat-card>
            <mat-card-header>

              <img mat-card-avatar class="user-avatar" width="50" height="50" src="{{currentUser.userPhoto}}" />

              <mat-card-title><a routerLink="." >{{currentUser.userLogin}}</a></mat-card-title>

            </mat-card-header>

            <mat-card-content>

              <div class="row" style="width: 100%">

                <mat-form-field class="col-11">
                  <input name="commentText" [(ngModel)]="currentRate" [formControl]="rateFormControl" rows="7" matInput placeholder="Ваш ставка " >
                  <mat-error *ngIf="rateFormControl.hasError('pattern') && !rateFormControl.hasError('required')">
                    Ставка должна состоять из цифр
                  </mat-error>
                  <mat-error *ngIf="rateFormControl.hasError('required')">
                    <strong>Введите ставку</strong>
                  </mat-error>
                </mat-form-field>

                <div class="col-1">
                  <button (click)="addRate()" mat-fab>
                    <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
                  </button>
                </div>

              </div>

            </mat-card-content>


          </mat-card>
        </div>

        <h3>Ставки</h3>

        <!--*ngFor="let comment of lot.comments"-->
        <div style="margin: 5px" *ngFor="let rate of rates">

          <mat-card>
            <mat-card-header>

              <img mat-card-avatar class="user-avatar" width="50" height="50" src="{{rate.user?.userPhoto}}" />

              <mat-card-title><a routerLink="/main/profile/{{rate.user?._id}}" >{{rate.user?.userLogin}}</a></mat-card-title>
              <p mat-card-subtitle>{{rate?.dateRate | date:'yyyy-MM-dd HH:mm:ss '}}</p>

            </mat-card-header>

            <mat-card-content >
              <p>{{rate?.rate}} руб. </p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>



    </div>

  </div>




</div>
